body {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    background-image: url('../img/lofi.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    transition-delay: .2s;
    transition: 1.2s;
    overflow-x: hidden;
}

@keyframes bg-change {
    0% {backdrop-filter: blur(0px);}
    50% {backdrop-filter: blur(12px);}
    100% {backdrop-filter: blur(0px);}
}

.particles {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}

#wrapper {
    margin: 0;
    display: flex;
    width: 450px;
    color: #dedede;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    padding: 65px 0;
    position: relative;
    margin: 0 auto;
}
body.bg_change{
    animation: bg-change 1.6s ease infinite;
}
body.classic {
    background-image: url('../img/lofi.png');
}
body.jazz {
    background-image: url('../img/lofi.png');
}
body.lofi {
    background-image: url('../img/lofi.png');
}

.aptibute_class {
    position: relative;
    top: -75px;
    text-align: center;
    width: 175px;
    margin: 0 auto;
}

/* TITLE */

@font-face {
    font-family: Corinthia;
    src: url(../fonts/Corinthia.ttf);
}

.title {
    text-align: center;
    font-family: Corinthia, sans-serif;
    font-size: 100px;
    text-shadow: 0px 0px 25px #fefece;
    color: #fefefe;
    position: relative;
    margin: 0 auto;
    height: 134px;
}

/* NAVIGATION */

.naw_row {
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
}

.menu_btn {
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    font-family: Newtown, Verdana, sans-serif;
    font-style: italic;
}

.menu_btn:hover {
    transition: .2s;
    border: 2px solid rgba(255, 255, 255);
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 20px #fff;
}

.menu_btn:focus {
    outline: none;
}

.menu_btn {
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 7px 14px;
    margin: 0 6px;
    position: relative;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.6);
    background: none;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.in_active {
    border: 2px solid rgba(255, 255, 255);
    text-shadow: 0px 0px 10px #fefece;
    background-color: rgba(255, 255, 255, .2);
}

/* CASSETTE */

.albom {
    position: absolute;
    top: 285px;
    left: -62px;
    background-image: url(../img/albumm.png);
    background-size: 300px;
    box-shadow: 0px 5px 35px 20px rgba(41, 6, 15, 0.623);
    height: 160px;
    width: 290px;
    z-index: 1;
}

.cassette {
    position: relative;
    margin: 0 auto;
    width: 310px;
    height: 190px;
    background: url(../img/cassette-bodyy.png) no-repeat;
    background-size: 310px;
    z-index: 2;
}

.cassette i {
    display: block;
    width: 37px;
    height: 37px;
    background: url(../img/cassette-detail.png) no-repeat;
    background-size: 100%;
}

.cassette_datail_left {
    position: absolute;
    top: 68px;
    left: 66px;
    animation: 2.5s;
}

.cassette_datail_right {
    position: absolute;
    top: 68px;
    left: 207px;
    animation: 2.5s;
}

/* ANIMATION */

@keyframes rotation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.rotate {
    animation-name: rotation !important;
    animation-iteration-count: infinite !important;
    animation-timing-function: linear !important;
}

/* PLAY BTN */

.player_controls_panel {
    margin: 15px auto;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: -2px;
    text-align: center;
    width: 140px;
}

.player_controls_btn {
    background: url(../img/pause.png) no-repeat center;
    background-size: 19px;
    height: 42px;
    width: 70px;

}

.player_controls_btn.play {
    background-image: url(../img/play.png);
    transition: ease-in-out .3s;
}

.player_controls_btn.pause {
    background-image: url(../img/pause.png);
    transition: ease-in-out .3s;
}

/* DISPLAY */

.player_display {
    text-align: center;
    font-family: Newtown, Verdana, sans-serif;
    font-style: italic;
}

/* SLIDER */

.slider {
    -webkit-appearance: none;
    width: 150px;
    height: 3px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #fafafa;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: #fafafa;
    cursor: pointer;
}

/* IMG VOLUME */
.volume{
    width: 300px;
    margin: 0 auto;
}
.volume_i {
    position: relative;
    top: 20px;
    text-align: center;
    height: 24px;
    width: 24px;
    border: none;
    opacity: .8;
    margin: 0 80px;
}

.volume_off {
    display: inline-block;
    position: relative;
    background: url(../img/volume-off.png) no-repeat center;
    background-size: 20px 18px;
    height: 24px;
    margin-left: 0;
}

.volume_on {
    display: inline-block;
    position: relative;
    background: url(../img/volume-on.png) no-repeat center;
    background-size: 25px;
    margin-right: 0;
}


@-moz-document url-prefix() {
    .slider_box{
        margin-left: -5px;
        margin-top: 35px;
    }
    .volume_i {
        position: absolute;
        top: 493px;
    }
    .volume_off {
        margin-left: -105px;
    }
}
@media (max-width: 576px) { 
    .cassette {
        width: 180px;
        height: 110px;
        background-size: 180px; 
    }
    .albom {
        top: 275px;
        left: -0px;
        background-size: 168px;
        box-shadow: 4px 4px 15px 10px rgba(41, 6, 15, 0.623);
        height: 94px;
        width: 170px;
    }

    .cassette i {
        width: 20px;
        height: 20px;
    }
    .cassette_datail_left {
        top: 40px;
        left: 39px;
    }
    .cassette_datail_right {
        top: 40px;
        left: 121px;
    }

    .menu_btn {
        font-size: 14px;
        padding: 4px 7px;
        margin: 0 3px;
    }
    .player_controls_btn {
        background-size: 14px;
        height: 32px;
        width: 50px;
    }

    .slider {
        width: 110px;
    }

    .volume_i {
        margin: 0 60px;
    }
    .volume_off {margin-left: 0;}
    .volume_on {margin-right: 0;}
    @-moz-document url-prefix() {
        .volume_off {margin-left: -85px;}
        .volume_i {top: 393px;}
    }
}