{% extends 'base.html' %} 
{% block title %} Cassette {% endblock %} 
{% block container %}
<div id="particles" class="particles"></div>
<div id="wrapper">
    
    <div class="col-sm">

        <div class="aptibute_class">
            <img class="albom">
            <!--div class="hyphen"></div>-->
        </div>

        <div class="title">Cassette</div>
        <div class="naw_row">
            <button name="lofi" class="menu_btn" id="lofi-btn">LoFi</button>
            <button name="classic" class="menu_btn in_active" id="classic-btn">Classic</button>
            <button name="jazz" class="menu_btn" id="jazz-btn">Jazz</button>
        </div>

        <div class="cassette">
            <i class="cassette_datail cassette_datail_left" id="roller_left"></i>
            <i class="cassette_datail cassette_datail_right" id="roller_right"></i>
        </div>
        <div class="player_controls_panel">
            <button class="menu_btn player_controls_btn play" id="play-btn"></button>
        </div>

        <div class="player_display">
            <div class="volume_box">
                <button type="button" class="volume_div volume_i volume_off" id="volume_mute"></button>
                <div class="volume_div volume_i volume_on"></div>
            </div>
            
            <div class="slider_box">
                <input type="range" min="0" max="100" value="50" class="slider" id="volume_bar">
            </div>
        </div>

    </div>
</div>


{% endblock container %}